<div class="footerMain">
    <span>{{ copy.portfolio }}</span>
    {% if showContact %}
    <button type="button" class="solidButton" data-open-contacts>{{ copy.contact }}</button>
    {% endif %}
    <div class="footerMainBG"></div>
</div>
