---
layout: layouts/case.njk
title: "Platform redesign and&nbsp;design system update"
lang: en
permalink: anw-ds-rework-eng.html
backHref: "index.html#anw-ds-rework"
---
<div class="aboutProjectSection1024">
            <h1>Platform redesign and&nbsp;design system update</h1>

            <div class="sectionText">
                <h4>Task</h4>
                <span>Update the design of&nbsp;the entire platform and design system without structural changes to&nbsp;web pages and flows. Ideally, simplify the front-end development process to&nbsp;the uplift of&nbsp;design components and design tokens in&nbsp;the storybook.</span>
                <span>
                    Before the redesign of&nbsp;the design system <a href="anw-ux-research-eng.html">UX research</a> was conducted.
                </span>
            </div>
            <div class="sectionText">
                <h4>Challenges</h4>
                <ol>
                    <li>At&nbsp;the same time, simplify the structure of&nbsp;the design library in&nbsp;Figma,because the previous one was too large and slow.</li>
                    <li>Check components for excessive nesting to&nbsp;speed up&nbsp;the entire project.</li>
                    <li>Remove inactive&nbsp;/ add new states to&nbsp;design components, because during the uplift some states became irrelevant or&nbsp;were added.</li>
                    <li>Keep in&nbsp;mind that the redesign should fit painlessly onto the current platform as&nbsp;part of&nbsp;the uplift.</li>
                    <li>Change the structure of&nbsp;the components by&nbsp;breakpoints, because the layout and grid have changed.</li>
                    <li>Update some components according to&nbsp;new features in&nbsp;the design library.</li>
                </ol>
            </div>
            <div class="sectionText">
                <h4>Team</h4>
                <span>There were 3&nbsp;designers in&nbsp;the team: one lead designer (leading the overall design process on&nbsp;the project) and two designers redesigning the platform and design system.</span>
            </div>
            <div class="sectionText">
                <h4>My responsibilities</h4>
                <span>As&nbsp;part of&nbsp;this case, my&nbsp;tasks included organizing the process of&nbsp;redesigning the design system, aplift the design system, communication with developers, design platform layouts based on&nbsp;new components.</span>
            </div>
            <div class="sectionText">
                <h4>The platform redesign process was structured like this:</h4>
                <img src="projects/anw/system/scheme 1024 eng.png" class="projectImage" alt="">
            </div>
            <div class="sectionText">
                <h4>Design system redesign steps</h4>
                <span>According to&nbsp;the draft layout, we&nbsp;determined the sequence of&nbsp;work on&nbsp;the design system:</span>
            </div>
            <div class="sectionTextAndImageLeft">
                <div class="sectionTextAndImageImg">
                    <img src="projects/anw/system/step1.png" alt="">
                </div>
                <div class="sectionTextAndImageText">
                    <b>1. Reworking grids and breakpoints</b>
                    <span>Reduced the number of&nbsp;breakpoints to&nbsp;simplify both layout and design.</span>
                </div>
            </div>
            <div class="sectionTextAndImageLeft">
                <div class="sectionTextAndImageImg">
                    <img src="projects/anw/system/step2.png" alt="">
                </div>
                <div class="sectionTextAndImageText">
                    <b>2. Reworking colors</b>
                    <span>Changed the hierarchy and naming to&nbsp;make navigation easier.</span>
                </div>
            </div>
            <div class="sectionTextAndImageLeft">
                <div class="sectionTextAndImageImg">
                    <img src="projects/anw/system/step3.png" alt="">
                </div>
                <div class="sectionTextAndImageText">
                    <b>3. Reworking font styles</b>
                    <span>Font styles were redesigned, with simplified hierarchy and naming. Mobile font states were removed because the chosen type scale allowed us to keep body, bold, and small heading sizes consistent.</span>
                </div>
            </div>
            <div class="sectionText sectionTextAdditional">
                <span>At&nbsp;this point, we&nbsp;started to&nbsp;redesign the platform. We&nbsp;took each new redesigned component iteratively. However, we&nbsp;also refined and supplemented the design tokens as&nbsp;needed.</span>
            </div>
            <div class="sectionTextAndImageLeft">
                <div class="sectionTextAndImageImg">
                    <img src="projects/anw/system/step4.png" alt="">
                </div>
                <div class="sectionTextAndImageText">
                    <b>4. Work on&nbsp;design library components</b>
                    <span>More than 100 components were redone in&nbsp;the new library, among which were both atoms and complex organisms. A&nbsp;well-chosen font and its size made it&nbsp;possible to&nbsp;drop the mobile states of&nbsp;the components.</span>
                    <span>Also, more than 200 graphic components were redesigned.</span>
                </div>
            </div>
        </div>
        <img src="projects/anw/system/system 1400.png" class="projectImage" alt="">

        <div class="aboutProjectSection1024">
            <div class="sectionText sectionTextAdditional">
                <span>All components were rebuilt with the old architecture in&nbsp;mind&nbsp;&mdash; we&nbsp;tried to&nbsp;keep the old structure of&nbsp;web pages to&nbsp;simplify development. We&nbsp;tried to&nbsp;integrate the new design in&nbsp;such a&nbsp;way that after changing the grids, design tokens, and components in&nbsp;the storybook, the page uplift would happen almost &laquo;automatically&raquo;.</span>
            </div>
            <div class="sectionText">
                <h4>Development start</h4>
                <span>After reworking the main part of&nbsp;the design system and the main pages, the whole scope of&nbsp;work on&nbsp;the uplift was transferred to&nbsp;the front-end team. The development process began: there was a&nbsp;parallel update of&nbsp;the components and design tokens in&nbsp;the storybook and an&nbsp;update of&nbsp;the pages.</span>
                <span>The design team checked the components and pages after the uplift, advised the developers, and also made some changes from the front-end team during the development process.</span>
            </div>
            <div class="sectionText">
                <h4>Final</h4>
                <span>The platform and design system uplift was completed in&nbsp;&plusmn;3&nbsp;months. We&nbsp;counted on&nbsp;this period at&nbsp;the beginning of&nbsp;the process. Thanks to&nbsp;a&nbsp;well-organized design process, we&nbsp;managed to&nbsp;quickly rework the design system and build more than 100 pages of&nbsp;the platform.</span>
                <span>Further, the development team was able to&nbsp;release the uplift in&nbsp;&plusmn;2&nbsp;months&nbsp;&mdash; this is&nbsp;an&nbsp;excellent result, which was influenced by&nbsp;competent work with the design system and correctly assembled pages that easily fit on&nbsp;the old architecture. The process of&nbsp;testing and finalizing the platform and storybook ended quickly and without serious bugs.</span>
                <img src="projects/anw/system/calendar eng.png" class="projectImage" alt="">
            </div>
        </div>
        <img src="projects/anw/system/platform 1400.png" class="projectImage" alt="">

        <div class="aboutProjectSection1024">
            <div class="sectionText">
                <h4>Results</h4>
                <ul>
                    <li>Thanks to&nbsp;a&nbsp;well-organized design process, we&nbsp;managed to&nbsp;complete the redesign of&nbsp;the design system and platform on&nbsp;time.</li>
                    <li>Competent preparation of&nbsp;pages and components helped the developers to&nbsp;make changes without difficulties and release the platform in&nbsp;a&nbsp;short time.</li>
                    <li>The design library in&nbsp;Figma has been greatly simplified and cleaned&nbsp;up, it&nbsp;has become faster, navigation in&nbsp;the library has been simplified.</li>
                    <li>The number of&nbsp;breakpoints has decreased due to&nbsp;the selection of&nbsp;a&nbsp;more successful grid. This simplifies subsequent design and development.</li>
                    <li>Mobile states for components have been eliminated&nbsp;&mdash; as&nbsp;a&nbsp;result of&nbsp;well-chosen font sizes and elements, the need for them has disappeared. This simplifies the subsequent design, creation of&nbsp;new components and editing, as&nbsp;well as&nbsp;development (both creating new pages and maintaining the storybook).</li>
                </ul>
            </div>
            <div class="sectionSeparator">
            </div>
            <div class="sectionText spaceAfter">
                <span>Before redesigning the platform and design system, we conducted <a href="anw-ux-research-eng.html">UX research for the rebrand</a>.</span>
            </div>
        </div>
