---
layout: layouts/case.njk
title: "Управление системой лояльности"
lang: ru
permalink: usl-ru.html
backHref: "ru.html#usl"
---
<div class="aboutProjectSection1024">
            <h1>Управление системой лояльности</h1>
            <div class="sectionText">
                <h4>О&nbsp;проекте</h4>
                <span>Прототип приложения-шаблона средней детализации с&nbsp;комплексным маркетинговым функционалом: от&nbsp;создания системы лояльности до&nbsp;запуска интернет-магазина.</span>
                <span>В&nbsp;приложении заложена идея легкой кастомизации: модули приложения частично связаны, но&nbsp;независимы друг от&nbsp;друга, а&nbsp;дизайн приложения легко брендируется.</span>
            </div>
    </div>
    <div class="projectImageStack">
        <img src="projects/usl/Image1.png" class="projectImage" alt="">
        <img src="projects/usl/Image2.png" class="projectImage" alt="">
        <img src="projects/usl/Image3.png" class="projectImage" alt="">
        <img src="projects/usl/Image4.png" class="projectImage" alt="">
    </div>
