---
layout: layouts/case.njk
title: "Loyalty System Management"
lang: en
permalink: usl-eng.html
backHref: "index.html#usl"
---
<div class="aboutProjectSection1024">
            <h1>Loyalty System Management</h1>
            <div class="sectionText">
                <h4>About the project</h4>
                <span>A mid-fidelity prototype of a template application with broad marketing functionality, from creating a loyalty system to launching an online store.</span>
                <span>The core idea was easy customization: application modules are partially connected but independent from each other, and the design can be branded for different clients.</span>
            </div>
    </div>
    <div class="projectImageStack">
        <img src="projects/usl/Image1.png" class="projectImage" alt="">
        <img src="projects/usl/Image2.png" class="projectImage" alt="">
        <img src="projects/usl/Image3.png" class="projectImage" alt="">
        <img src="projects/usl/Image4.png" class="projectImage" alt="">
    </div>
